
h1{
  color: #8a0404;
  font-weight: bolder;
  font-size: 60px;
  /* font-style: italic; */
  font-family:'Courier New', Courier, monospace;
}
h2{
  color:#8b0404;
}
.App {
  /* display: flex;
  flex-direction: row; */
  margin-left: 50px;

}
.Content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.GroceryContainer{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: black; */
}
.Cart{
  
  height:800px;
  overflow: auto;
}
.cartList{
 
}
.cartList .info{
	width:300px;
	display:flex;
	align-items:center;
	justify-content:left;
}
.cartList .info div:nth-child(1){
  width:60px;
  height:60px;
}
.cartList .info div:nth-child(1) img{
  width:100%;
  height:100%;
}
.cartList .info div:nth-child(2){
  margin-left: 5px;
}
.cartList .info div:nth-child(2) p{
  line-height:22px;
  padding:0;
  margin:0;
}
.siderBar{
  padding: 20px;
  border: 2px solid #8b0404;
  margin-top:200px;
  height: 400px;

}
.Catagories{
  font-size: 16px;
  font-weight: bold;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
  
/* } */
